<!doctype html>
<html>
    <head>
        <base href="/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link rel="apple-touch-icon-precomposed" href="favicon-152.png">
        <link rel="icon" href="favicon.ico">
        <title>Laminar</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js" integrity="sha256-ngFW3UnAN0Tnm76mDuu7uUtYEcG3G5H1+zioJw3t+68=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-router@3.1.6/dist/vue-router.min.js" integrity="sha256-B8zvQ+y1lIQkcm+EJyCis+7AgsnzaTCBAHgkrPFQr9A=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/ansi_up@1.3.0/ansi_up.js" integrity="sha256-2UR0QYPMTIY0yP5S6ubBS7wFNKhn8uW7pV5E3LlvI6U=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" integrity="sha256-UXesixbeLkB/UYxVTzuj/gg3+LMzgwAmg3zD+C4ZASQ=" crossorigin="anonymous">
        <link href="custom/style.css" rel="stylesheet">
        <script src="js/app.js" defer></script>
    </head>
    <body>

        <template id="home">
            <div class="ui stackable vertically padded grid">
                <aside class="four wide column jobs list">
                    <h2 class="ui header">Jobs</h2>
                    <div class="ui grey segment" v-for="job in jobsQueued">
                        <p><router-link :to="'/jobs/'+job.name">{{job.name}}</router-link> queued</p>
                    </div>
                    <div class="ui blue segment" v-for="job in jobsRunning">
                        <p><router-link :to="'/jobs/'+job.name">{{job.name}}</router-link> <router-link :to="'/jobs/'+job.name+'/'+job.number">#{{job.number}}</router-link></p>
                        <div class="ui active small blue progress">
                            <div class="bar" :class="job.etc?'':'active'" :style="'width:'+(!job.etc?'100':job.progress)+'%'"></div>
                            <div class="label">Running for {{formatDuration(job.started, job.completed)}}</div>
                        </div>
                    </div>
                    <div v-for="job in jobsRecent" class="ui segment" :class="job.result == 'success' ? 'green' : ''" :class="job.result == 'failed' ? 'red' : ''" :class="job.result == 'aborted' ? 'red' : ''">
                        <p>{{job.result | capitalize}}: <router-link :to="'/jobs/'+job.name">{{job.name}}</router-link> <router-link :to="'/jobs/'+job.name+'/'+job.number">#{{job.number}}</router-link></p>
                        <p>{{formatDuration(job.started, job.completed)}} at {{formatDate(job.started)}}</p>
                    </div>
                </aside>
                <main class="ten wide column">
                    <div class="ui three column stackable grid">
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <canvas id="chartBpd"></canvas>
                                </div>
                                <div class="content">
                                    <span class="header">Total runs per day this week</span>
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <canvas id="chartBpj"></canvas>
                                </div>
                                <div class="content">
                                    <span class="header">Most runs per job in the last 24 hours</span>
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <canvas id="chartTpj"></canvas>
                                </div>
                                <div class="content">
                                    <span class="header">Longest average run time per job this week</span>
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <canvas id="chartUtil"></canvas>
                                </div>
                                <div class="content">
                                    <span class="header">Current executor utilization</span>
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <canvas id="chartResultChanges"></canvas>
                                </div>
                                <div class="content">
                                    <span class="header">Regressions and recoveries</span>
                                    <div class="description">
                                        <ul v-for="job in resultChanged">
                                            <li v-if="job.lastFailure>job.lastSuccess" :id="'rcd_'+job.name" class="chart-overlay"><router-link :to="'/jobs/'+job.name">{{job.name}}</router-link>: <span v-html="runIcon('failed')"></span> <router-link :to="'/jobs/'+job.name+'/'+job.lastFailure">#{{job.lastFailure}}</router-link> since <span v-html="runIcon('success')"></span> <router-link :to="'/jobs/'+job.name+'/'+job.lastSuccess">#{{job.lastSuccess}}</router-link></li>
                                            <li v-if="job.lastFailure<job.lastSuccess" :id="'rcd_'+job.name" class="chart-overlay"><router-link :to="'/jobs/'+job.name">{{job.name}}</router-link>: <span v-html="runIcon('success')"></span> <router-link :to="'/jobs/'+job.name+'/'+job.lastSuccess">#{{job.lastSuccess}}</router-link> since <span v-html="runIcon('failed')"></span> <router-link :to="'/jobs/'+job.name+'/'+job.lastFailure">#{{job.lastFailure}}</router-link></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <canvas id="chartPassRates"></canvas>
                                </div>
                                <div class="content">
                                    <span class="header">Low pass rates</span>
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <canvas id="chartBuildTimeChanges"></canvas>
                                </div>
                                <div class="content">
                                    <span class="header">Run time changes</span>
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <canvas id="chartBuildTimeDist"></canvas>
                                </div>
                                <div class="content">
                                    <span class="header">Average run time distribution</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </template>

        <template id="jobs">
            <main class="ui stackable vertically padded fourteen wide column">
                <div class="ui basic segment masthead">
                    <h2 class="ui header">Jobs</h2>
                </div>
                <div class="ui secondary pointing menu">
                    <a v-show="ungrouped.length" :class="{'active':group==null}" v-on:click.prevent="group = null" class="item">Ungrouped jobs</a>
                    <a v-for="g in Object.keys(groups)" :class="{'active':g==group}" href v-on:click.prevent="group = g" class="item">{{g}}</a>
                    <div class="right menu">
                        <div class="item">
                            <div class="ui transparent icon input">
                                <input id="jobFilter" v-model="search" type="text" placeholder="Filter...">
                                <i class="search link icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="ui striped table" id="joblist">
                    <thead>
                        <tr>
                            <th class="four wide">Job</th>
                            <th>Last run</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="job in filteredJobs()">
                            <td><router-link :to="'/jobs/'+job.name">{{job.name}}</router-link></td>
                            <td>
                                <router-link :to="'/jobs/'+job.name+'/'+job.number">#{{job.number}}</router-link>: <span v-html="job.result ? job.result : 'pending'"></span><br />
                                Started at {{formatDate(job.started)}} and ran for {{formatDuration(job.started,job.completed)}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </template>

        <template id="job">
            <main class="ui stackable vertically padded fourteen wide column">
                <div class="ui basic segment">
                    <h2 class="ui header">
                        Job: {{$route.params.name}}
                    </h2>
                    <router-link to="/jobs"><i class="angle left icon"></i>back to jobs list</router-link>
                </div>
                <div class="ui stackable padded two column grid">
                    <div class="ui column seven wide">
                        <h3 class="ui header">Information</h3>
                        <div class="sub header" v-html="description"></div>
                        <table class="ui table">
                            <tr>
                                <td>Last successful run</td>
                                <td><router-link v-if="lastSuccess" :to="'/jobs/'+$route.params.name+'/'+lastSuccess.number">#{{lastSuccess.number}}</router-link> {{lastSuccess?' - at '+formatDate(lastSuccess.started):'never'}}</td>
                            </tr>
                            <tr>
                                <td>Last failed run</td>
                                <td><router-link v-if="lastFailed" :to="'/jobs/'+$route.params.name+'/'+lastFailed.number">#{{lastFailed.number}}</router-link> {{lastFailed?' - at '+formatDate(lastFailed.started):'never'}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="ui column seven wide">
                        <h3 class="ui header">Build time</h3>
                        <div><canvas id="chartBt"></canvas></div>
                    </div>
                </div>
                <table class="ui striped table">
                    <thead>
                        <tr>
                            <th class="three wide">Run</th>
                            <th class="six wide">Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-show="nQueued">
                            <td colspan="5">{{nQueued}} more run(s) queued</td>
                        </tr>
                        <tr v-for="job in jobsRunning" track-by="$index">
                            <td>
                                <router-link :to="'/jobs/'+$route.params.name+'/'+job.number">#{{job.number}}</router-link><br>
                                <span v-html="job.result ? job.result : 'pending'"></span>
                            </td>
                            <td>
                                <div class="ui active small blue progress">
                                    <div class="bar" :class="job.etc?'':'active'" :style="'width:'+(!job.etc?'100':job.progress)+'%'"></div>
                                    <div class="label">Running for {{formatDuration(job.started, job.completed)}}</div>
                                </div>
                            </td>
                        </tr>
                        <tr v-for="job in jobsRecent" track-by="$index">
                            <td>
                                <router-link :to="'/jobs/'+$route.params.name+'/'+job.number">#{{job.number}}</router-link><br>
                                <span v-html="job.result ? job.result : 'pending'"></span>
                            </td>
                            <td>
                                Started: {{formatDate(job.started)}}<br>
                                Ran for {{formatDuration(job.started,job.completed)}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="ui pagination menu">
                    <a class="item" v-on:click="page_prev" :class="sort.page==0 ? 'disabled' : ''"><i class="left angle icon"></i>Previous</a>
                    <div class="item">
                    Page {{sort.page+1}} of {{pages}}
                    </div>
                    <a class="item" v-on:click="page_next" :class="sort.page==pages-1 ? 'disabled' : ''"><i class="right angle icon"></i>Next</a>
                </div>
            </main>
        </template>

        <template id="run">
            <main class="ui stackable vertically padded fourteen wide column">
                <div class="ui basic segment">
                    <h2 class="ui header">
                        Job run: {{$route.params.name}} #{{$route.params.number}}
                    </h2>
                    <router-link :to="'/jobs/' + $route.params.name"><i class="angle left icon"></i>back to {{$route.params.name}} job list</router-link>
                </div>

                <div class="ui stackable padded two column grid">
                    <div class="ui column four wide">
                        <h3 class="ui header">Information</h3>
                        <div class="ui pagination menu">
                            <router-link class="item" v-show="$route.params.number > 1" :to="'/jobs/'+$route.params.name+'/'+($route.params.number-1)"><i class="left angle icon"></i>Previous run</router-link>
                            <router-link class="item" v-show="latestNum > $route.params.number" :to="'/jobs/'+$route.params.name+'/'+(parseInt($route.params.number)+1)"><i class="right angle icon"></i>Next run</router-link>
                        </div>
                        <table class="ui table">
                            <tr v-show="job.reason">
                                <td>Reason</td>
                                <td>{{job.reason}}</td>
                            </tr>
                            <tr v-show="job.upstream.num > 0">
                                <td>Upstream</td>
                                <td><router-link :to="'/jobs/'+job.upstream.name">{{job.upstream.name}}</router-link> <router-link :to="'/jobs/'+job.upstream.name+'/'+job.upstream.num">#{{job.upstream.num}}</router-link></td>
                            </tr>
                            <tr>
                                <td>Queued for</td>
                                <td>{{job.queued}}s</td>
                            </tr>
                            <tr>
                                <td>Started</td>
                                <td>{{formatDate(job.started)}}</td>
                            </tr>
                            <tr v-show="runComplete(job)">
                                <td>Completed</td>
                                <td>{{formatDate(job.completed)}}</td>
                            </tr>
                            <tr v-show="runComplete(job)">
                                <td>Duration</td>
                                <td>{{formatDuration(job.started, job.completed)}}</td>
                            </tr>
                            <tr v-show="!runComplete(job) && job.result == 'running'">
                                <td>Progress</td>
                                <td>
                                    <div class="ui active small blue progress">
                                        <div class="bar" :class="job.etc?'':'active'" :style="'width:'+(!job.etc?'100':job.progress)+'%'"></div>
                                        <div class="label">Running for {{formatDuration(job.started, job.completed)}}</div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div v-show="job.artifacts.length">
                            <h3 class="ui header">Artifacts</h3>
                            <ul class="list-unstyled" style="margin-bottom: 0">
                                <li v-for="art in job.artifacts"><a :href="art.url" target="_self">{{art.filename}}</a> [{{ art.size | iecFileSize }}]</li>
                            </ul>
                        </div>
                    </div>
                    <div class="ui ten wide column">
                        <h3 class="ui header">Console output</h4>
                        <pre class="ui inverted segment" v-html="log"></pre>
                    </div>
                </div>
            </main>
        </template>

        <div id="app">
            <nav class="ui visible thin left sidebar inverted vertical labeled icon menu">
                <span class="item"><img class="icon" src="icon.png">{{title}}</span>
                <router-link to="/" class="item" exact-active-class="active"><i class="bar chart icon"></i>Status</router-link>
                <router-link to="/jobs" class="item" active-class="active"><i class="tasks icon"></i>Jobs</router-link>
            </nav>
            <div class="ui main stackable padded grid pusher">
                <router-view></router-view>
            </div>
            <div v-show="!connected" id="popup-connecting" class="ui segment"><div class="ui basic loading segment"></div><p>Connecting</p></div>
        </div>
    </body>
</html>
