[Unit]
Description=Laminar continuous integration service
After=network.target

[Service]
User=laminar
EnvironmentFile=-/etc/laminar.conf
ExecStart=/usr/bin/laminard

[Install]
WantedBy=multi-user.target

