<div class="container-fluid">
<div class="row">
	
 <div class="col-sm-5 col-md-6 col-lg-7">
  <h3>{{name}}</h3>
  <dl class="dl-horizontal">
   <dt>Last Successful Run</dt><dd>
	   <a ng-show="lastSuccess" href="jobs/{{name}}/{{lastSuccess.number}}">#{{lastSuccess.number}}</a>   
	   {{lastSuccess?" - at "+formatDate(lastSuccess.started):"never"}}</dd>
     <dt>Last Failed Run</dt><dd>
	   <a ng-show="lastFailed" href="jobs/{{name}}/{{lastFailed.number}}">#{{lastFailed.number}}</a>   
	   {{lastFailed?" - at "+formatDate(lastFailed.started):"never"}}</dd>
  </dl>

 </div>
 <div class="col-sm-7 col-md-6 col-lg-5">
  <div class="panel panel-default">
   <div class="panel-heading">Build time</div>
   <div class="panel-body">
    <canvas id="chartBt"></canvas>
   </div>
  </div>
 </div>
 
</div>
<div class="row">

 <div class="col-xs-12">
  <table class="table table-striped"><thead>
   <tr><th>Run</th><th class="text-center">Started</th><th class="text-center">Duration</th><th class="text-center hidden-xs">Reason</th></tr></thead>
   <tr ng-show="nQueued">
    <td colspan="4"><i>{{nQueued}} run(s) queued</i></td>
   </tr>
   <tr class="animate-repeat" ng-repeat="job in jobsRunning track by $index">
    <td><img class="spin small" src="/progress.png"> <a href="jobs/{{name}}/{{job.number}}">#{{job.number}}</a></td>
    <td class="text-center">{{formatDate(job.started)}}</td>
    <td class="text-center">--</td>
    <td class="text-center hidden-xs">{{job.reason}}</td>
   </tr>
   <tr class="animate-repeat" ng-repeat="job in jobsRecent track by $index">
    <td><span ng-bind-html="runIcon(job.result)"></span> <a href="jobs/{{name}}/{{job.number}}">#{{job.number}}</a></td>
    <td class="text-center">{{formatDate(job.started)}}</td>
    <td class="text-center">{{job.duration + " seconds"}}</td>
    <td class="text-center hidden-xs">{{job.reason}}</td>
   </tr>
  </table>
 </div>
 
</div>
</div>

