<div class="container-fluid">
<div class="row">
<div class="col-sm-5 col-md-6 col-lg-7">
 <h3 style="float:left"><img class="spin" src="/progress.png" ng-show="job.result === 'running'"><span ng-bind-html="runIcon(job.result)"></span> {{name}} #{{num}}</h3>
 <nav class="pull-left">
  <ul class="pagination" style="margin:15px 20px">
   <li ng-show="num > 1"><a href="jobs/{{name}}/{{num-1}}">&laquo;</a></li>
   <li ng-show="latestNum > num"><a ng-href="jobs/{{name}}/{{num+1}}">&raquo;</a></li>
  </ul>
 </nav>
 <div style="clear:both;"></div>
 <dl class="dl-horizontal">
  <dt>Reason</dt><dd>{{job.reason}}</dd>
  <dt>Queued for</dt><dd>{{job.queued}}s</dd>
  <dt>Started</dt><dd>{{formatDate(job.started)}}</dd>
  <dt ng-show="runComplete(job)">Completed</dt><dd ng-show="runComplete(job)">{{formatDate(job.completed)}}</dd>
  <dt ng-show="runComplete(job)">Duration</dt><dd ng-show="runComplete(job)">{{job.duration}}s</dd>
 </dl>
</div>
<div class="col-sm-7 col-md-6 col-lg-5">
 <div class="progress" ng-show="job.result == 'running'">
  <div class="progress-bar progress-bar-{{job.overtime?'warning':'info'}} progress-bar-striped {{job.etc?'':'active'}}" style="width:{{!job.etc?'100':job.progress}}%;"></div>
 </div>
 <div class="panel panel-default" ng-show="job.artifacts.length">
  <div class="panel-heading">Artifacts</div>
  <div class="panel-body">
   <ul class="list-unstyled" style="margin-bottom: 0">
	<li ng-repeat="art in job.artifacts">
	 <a href="{{art.url}}" target="_self">{{art.filename}}</a>
	</li>
   </ul>
  </div>
 </div>
</div>
</div>
<div class="row">
<div class="col-xs-12">
 <button type="button" class="btn btn-default btn-xs pull-right" ng-class="{active:autoscroll}" ng-click="autoscroll = !autoscroll" style="margin-top:10px">Autoscroll</button>
 <h4>Console output</h4>
 <pre ng-bind-html="log"></pre>
</div>
</div>
</div>
